@media (min-width: 768px) and (max-width: 1024px) {
  
  .banner2-content {
    position: absolute;
    transform: translateY(-93%);
    padding: 36px;
    color: #fff !important;
}
.banner1-content h2 {
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
   display:block !important;
}
.banner1-content p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    display: none !important;
}
.banner-content h2 {
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    
}
.banner-content p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    display: none !important;
}
.banner2-content h2 {
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    
}
.banner2-content p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    display: none !important;
}
}