.img-thumbnail {
    width: 100%;
    height: 150px;
}
.pro{
    width:100%;
}
.btvote{
    width:100px;
    background-color:#e4c95a;
    color:black;
    padding-top:10px;
    padding-bottom:20px;
}
@media (min-width: 992px){
.col-md-2 {
    width: 19.666667%;
}
}
.sub{
    background-color:green;
}
.header-top{
	    background-color: #0a0a0a;
    color: #fff;
    padding-bottom: 9px;
    border-bottom: 9px solid #3d3d3d;
    margin-bottom: 17px;
}
.check
{
    opacity:0.5;
	color:#996;
	
}
.check-btn{
	padding: 10px !important;
    margin-top: 37px;
    background-color: #f4a240;
}
.btn {
    display: inline-block;
    padding: 0px 0px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #fff !important;
    border-color: #fff !important;
}
.header-top span{
	font-size: 12px;
}
.heder-top-info{
    margin-top: 7px;
}
.header-top ul{
	display: inline-block;
	float: right;
}
.header-top ul li a{
	color: #fff;
	font-size: 12px;
    padding: 10px;
}
.header-top .nav-tabs{
	border:none;
}
.header-top .nav-tabs>li>a:hover{
	color: red ;
	background-color: transparent;
	border:none;
}

.header-mid{
	background-color: #000;
}

.header-mid .form-control{
	width: 350px;
}

.header-mid .nav-tabs>li>a:hover{
	color: red ;
	background-color: transparent;
	border:none;
}
.header-mid .nav-tabs{
	border:none;
	float: right;
}
.header-mid  ul li a{
	color: #fff;
	    font-size: 16px;
	        padding-right: 42px;
}
.header-mid  ul li i{
	color: #fff;
	float: left;
	top: 16px;
    font-size: 16px;
        margin-left: -9px;
}
.header-bottom{
	background-color: #fff;
}

.header-bottom .navbar-default{
	background-color: #fff;
	border:none;
}

.header-bottom .navbar-nav .first-nav{
	margin-left: -16px;
}

.header-bottom .navbar-collapse{
	padding-left: 0px;
}
.header-bottom .navbar-nav li a{
	    padding-right: 38px;
	    font-weight: bold;
}
.slider{
	    margin-top: -20px;
	        margin-bottom: 26px;
}
.collection{
	padding-top: 29px;
}

.collection h2{
	    text-align: center;
    padding-bottom: 31px;
    font-size: 25px;
    font-weight: bold;
}
.collection p{
	    text-align: center;
    margin-top: -34px;
    margin-bottom: 33px;
    color: #797979;
    font-size: 12px;
}
.banners{
	    padding-top: 50px;
}
.gifts h2{
	    text-align: center;
    padding-bottom: 31px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 28px;
}
.style-hub-box {
    box-shadow: 0 0 3px 4px #e9e9e9;
}
.style-hub-info {
    background-color: #fff;
    margin-top: -21px;
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
}
.banner{
	padding-top: 28px;
	padding-bottom: 31px;
}
.banner1{
	padding-top: 28px;
	padding-bottom: 31px;
}
.style-hub{
background-color: #f4f4f4;
padding-bottom: 47px;
    padding-top: 12px;
}
.style-hub h3{
	text-align: center;
	padding-bottom: 10px;
    font-weight: bold;
}
.style-hub-info h2 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #333;
}
.style-hub-info .btn-read-more {
    background-color: transparent;
    border: 1px solid;
    text-transform: uppercase;
    padding: 5px;
}
.style-hub-info p {
    text-align: center;
    font-size: 16px;
    color: #555;
    line-height: 52px;
}
.carousel-control.right{
	background-image: none;
}
.carousel-control.left{
	background-image: none;
}
.banner2{
	padding-top: 28px;
	padding-bottom: 31px;
}
.bank-offers{
	padding-top: 30px;
}
.bank-offers h2{
	    text-align: center;
    padding-bottom: 31px;
    font-size: 25px;
    font-weight: bold;
}
.bank{
	padding-bottom: 20px;
}
.footer-start{
	background-color: #cdcdcd;
	color: #fff;
	    padding-top: 30px;
    padding-bottom: 21px;
}
.footer-start{
	text-align: center;
	font: 30px/22px 'Dancing Script', cursive;
}
.footer-top{
	background-color: #f9f9fa;
	    padding-top: 30px;
	    padding-bottom: 39px;
}
.footer-top h6{
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
}
.footer-bottom{
	background-color: #000;
	    padding-top: 35px;
	        padding-bottom: 35px;
}

.footer-bottom .links h6{
	color: #fff;
}
.footer-bottom .links li{
	list-style: none;
}
.footer-bottom .links li a{
	 color: #999;
	     font-size: 11px;
    line-height: 25px;
}

.copyright{
	background-color: #000;
	    border-top: 1px solid #3d3d3d;
    padding-top: 15px;
}

.copyright p{
color: #fff;
    font-size: 10px;
    }

.copyright a{
color: #fff;
    font-size: 10px;
    text-align: right;
        padding-right: 20px;
    }

.footer-link{
	text-align: right;
}

.social-links a{
	color: #646464;
	font-weight: bold;
	padding-right: 15px;
    font-size: 16px;
}

.pay-img{
	float: left;
	padding-right: 7px;
}
.footer-mid{
	padding-top: 18px;
    padding-bottom: 15px;
}

.services {
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 16px;
}
.services p {
    font-size: 11px;
    color: #999;
}
.footer-question {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.footer-question i {
    font-size: 20px;
    color: #605f5f;
}
.footer-question h5 {
    display: inline-block;
    color: #999;
    font-weight: bold;
    text-align: center
}
.footer-question a {
    color: #ff5d3b;
    font-size: 10px;
    text-decoration: underline;
}
.footer-mid h5{
	color: #999;
	font-weight: bold;
	text-align: center;
}
.verified{
	max-width: 60px;
	    float: left;
}
.visa{
	max-width: 60px;
}
.img-collection{

}
.app-img{
		float: left;
		    padding-right: 7px;
	}


@media only screen and (max-width: 992px) {
	.img-collection{
		padding-bottom: 20px;
	}
	.services {
    float: left;
    width: 19%;
    text-align: center;
    margin-left: 16px;
}
	.app-img{
		padding-bottom: 4px;
	}

}
@media only screen and (max-width: 768px) {

	.img-responsive{
		margin-right: auto;
		margin-left: auto;
	}
	.img-collection{
		padding-bottom: 20px;
	}
	.verified{
		    padding-bottom: 18px;
		    float: none;
	}

	.header-bottom .navbar-nav .first-nav {
    margin-left: 0;
}
	.copyright p{
		text-align: center;
	}
	.footer-link{
		text-align: center;
	}
}